body {
	width: 100%;

}

#question {
	margin-top: 20px;
}

h1 { 
color: black;
font-size: 1.9em;
font-weight: bold;
margin-left: 20px;
text-decoration: underline overline black;
font-style: sans-serif;
}

#answer{
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
font-size: 6em;
font-weight: bold;
font-style: sans-serif;
}

img {
width: 40px;
height: 40px;
margin-top: 60px; 
margin-left: -5px;
}

#footer{
 padding: 10px;
 background: #323232;
 color: lightgrey;
 text-align: center;
 position: fixed; bottom: 0;
 width: 100%;
 font-style: sans-serif;
}

#footer ul{
list-style-type: none;
margin-bottom: 0;
}

#footer a {
  color: lightgrey;
  font-size: 1.5rem;
}

#footer a:hover {
  color: white;
}
